<!DOCTYPE html>
<html>
<head>
  <title>Filmci</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
<li><%= link_to 'Anasayfa', root_path %></li>
<li><%= link_to 'Hakkında', hakkinda_path %></li>
<li><%= link_to 'iletişim', iletisim_path %></li>
</ul>

<%= yield %>

</body>
</html>
