<!DOCTYPE html>
<html>
<head>
  <title>Filmci</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to("Anasayfa", anasayfa_path ) %> | 
<%= link_to("Hakkinda", hakkinda_path ) %> |
<%= link_to("İletişim", iletisim_path ) %>

<%= yield %>

</body>
</html>
